/* General Styles */
body {
  background-image: url("images/chamberlins8.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Navbar Styles */
.navbar {
  opacity: .85;
  position: absolute;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.navbar-brand {
  padding-left: 7px;
  font-family: 'Cormorant Unicase', serif;
  font-size: 2rem;
  font-weight: 700;
}

.navimg {
  width: 60px;
  height: 40px;
}

.nav-item {
  font-family: 'Cormorant Garmond', serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.navitems {
  padding-right: 10px;
  padding-top: 4px;
}

/* Page Sections */
/* Page Section General Styles */
h1 {
  font-size: 3rem;
  font-family: 'Cormorant Unicase', serif;
}

h3 {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 600;
}

p, ul {
  font-family: 'Cormorant Garmond', serif;
}

/* Top Section Styles */
.toptitle {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 3px black, 3px 3px 3px black;
  text-align: center;
  padding-top: 20%;
  width: 100%;
}

.top {
  min-width: 100vw;
  min-height: 70vh;
  position: relative;
  overflow: hidden;
}

/* Middle Section Styles */
.middle {
  min-width: 100%;
  background-color: white;
  min-height: 100%;
}

.middle1, .middle2 {
  width: 65%;
  margin: auto;
  padding-top: 5%;
}

.middle1 img {
  width: 50%;
  float: left;
  padding: 0 3% 3% 0;
}

.middle2 img {
  width: 40%;
  float: right;
  padding: 0 0 3% 3%;
}

.middle2 {
  overflow: hidden;
  padding-bottom: 3%;
}

/* Bottom Section Styles */
.bottom {
  width: 70%;
  text-align: center;
  margin: auto;
  padding-bottom: 5%;
}

.btn {
  font-family: 'Cormorant Unicase', serif;
  margin: 0 3%;
}

/* Footer Styles */
.footer {
  position: relative;
  height: 100px;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #292b2c;
}

.footerlink {
  font-family: 'Cormorant Garmond', serif;
  font-size: 1rem;
  text-shadow: 1px 1px 2px black, 2px 2px 2px black;
  color: white;
}

.footerlink:hover {
  color: black;
  text-shadow: 1px 1px 2px white, 2px 2px 2px white;
}

/* Mobile View */
@media only screen and (max-width: 1000px) {

  /* General Styles */
  body {
  background-image: url("images/chamberlins8.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: inherit;
  }
  
  h1 {
    padding-top: 40%;
    font-size: 2.5rem;
  }

  h3 {
    text-align: center;
  }

  /* Navbar Styles */
  .navbar-brand {
    font-size: 1rem;
  }

  .navimg {
    width: 40px;
    height: 26px;
  }

  /* Page Section Styles */
  .middle1, .middle2 {
    width: 75%;
    margin: auto;
    padding-top: 5%;
  }

  .middle1 img {
    width: 100%;
    float: none;
    padding: 0 0 5% 0;
  }

  .middle2 img {
    width: 100%;
    float: none;
    padding: 0 0 5% 0;
  }

  .btn {
    margin: 5%;
  }

  /* Footer */
  .footerlink {
    font-size: .8rem;
  }
}
